/* CSS Stylesheet created by Adi Wijaya */
/* Webpages is not Responsive Layout only Fixed Layout */
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
}
body {
        color: silver;
        font-family: 'Poppins';
        background: #111;
        user-select: none;
        -webkit-user-select: none;
        cursor: default;
}
html {
        scroll-behavior: smooth;
}
::-moz-selection {
  background-color: #eee;
  color: #222
}
/* width */
body::-webkit-scrollbar {
  width: 6px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: none;
  margin-block: .9em;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #aaa;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
nav {
        right: 0;
        top: 0;
        position: fixed;
        width: 100%;
        height: 50;
        background: transparent;
}
.navLeft {
        float: left;
        position: relative;
        left: 20;
        top: 10;
}
.navLeft a {
        color: #5F5F5F;
        font-size: 16px;
        padding: 0 5;
        font-weight: 400;
        white-space: pre-line;
        border-bottom: 0px solid white;
        transition: 0.5s ease-in-out;
}
.navLeft a:hover {
        color: white;
}
.navRight {
        float: right;
        position: relative;
        right: 20;
        top: 10;
}
.navRight a {
        color: #5F5F5F;
        font-size: 16px;
        padding: 0 5;
        font-weight: 400;
        white-space: pre-line;
        border-bottom: 0px solid white;
        transition: 0.5s ease-in-out;
}
.navRight a:hover {
        color: white;
}
.myPortf {
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
}
.container-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
}
.myPages {
        margin-top: 0px;
        border-left: 2px solid gray;
        border-right: 2px solid gray;
        height: 4%;
}
.box-pages {
        border: 0px solid silver;
        color: #888;
}
.txtOne {
        color: #ccc;
        font-family: 'Roboto';
        font-weight: 800;
        font-size: 100px;
        text-shadow: 0px 0px 10px white;
        margin-bottom: 10px;
        transition: 0.7s ease-in-out;
}
.txtOne:hover,.txtTwo:hover,.txtThree:hover {
        color: #ccc;
        text-shadow: 0px 0px 1px white;
}
.box-pages p {
        color: #111;
        font-size: 18px;
        white-space: pre-line;
        width: 950px;
}
img.me {
        width: 100;
        margin: 10 0;
}
.download-image {
        text-decoration: none;
        color: white;
        background: #0080ff;
        padding: 10 40;
        margin-top: 20px;
        font-size: 15px;
        border: 2px solid #1171d1;
        font-family: 'Poppins';
        border-radius: 30px;
        transition: 0.5s ease-in-out;
}
.download-image:hover {
        background: #d4175c;
        transition: 0.5s ease-in-out;
}
a {
        text-decoration: none;
}


/** Support Pages **/
.mySupport {
        color: #bbb;
        width: 100vw;
        height: 100vh;
        background: #111;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
}
.container-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
}
.myPages-2 {
        margin-top: 20px;
}
.myPages-2 h1 {
        color: #fff;
}
.myPages-2 h6 {
        color: silver;
        font-weight: 400;
        font-size: 14px;
        white-space: pre-line;
}

/** Copyright Pages **/
.myCopyright {
        color: #bbb;
        width: 100vw;
        height: 15vh;
        background: #141b21;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
}
.container-5 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
}
.myPages-5 {
        margin-top: 20px;
}
.box-pages-5 h1 {
        color: white;
        font-size: 14px;
        font-weight: 400;
}


.footer {
        color: #5F5F5F;
        font-family: 'Calibri';
        left: 0;
        bottom: 0;
        position: fixed;
        background: transparent;
        border-top: 1px solid transparent;
        width: 100%;
        height: 30;
}
.left {
        float: left;
        position: relative;
        left: 20;
        bottom: 1;
}
.left a {
        color: #5F5F5F;
        font-size: 16px;
        font-weight: 400;
        white-space: pre-line;
        text-decoration: none;
        transition: 0.5s ease-in-out;
}
.left a:hover {
        color: white;
}
.right {
        float: right;
        position: relative;
        right: 20;
        bottom: 1;
}
.right a {
        color: #5F5F5F;
        font-size: 16px;
        padding: 0 5;
        font-weight: 400;
        white-space: pre-line;
        border-bottom: 0px solid white;
        transition: 0.5s ease-in-out;
}
.right a:hover {
        color: white;
}






/* Disable Mobile Devices */
@media only screen and (max-device-width: 780px) {
        .myPortf {  
                display: none;
        }
        .container-1 {  
                display: none;
        }
        nav {
                display: none;
        }
        .watermark {
                display: none;
        }
        .disableMobile {
                width: 100vw;
                height: 100vh;
                background: #222;
                background-attachment: fixed;
        }
        .container-3 {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
        }
        .noticeBox {
                margin-top: 0px;
        }
        .noticeBox h1 {
                color: #eee;
                font-family: 'Roboto';
                font-size: 18px;
                font-weight: 400;
                line-height: 2;
        }
        .noticeBox p {
                color: #aaa;
                font-family: 'Roboto';
                font-size: 13px;
                font-weight: 400;
                white-space: pre-line;
        }
        button {
                width: 150px;
                height: 40px;
                border-radius: 100px;
                background: #444;
                border: 1px solid #444;
                color: silver;
                margin: 30 0;
                outline: none;
                font-size: 12px;
                transition: 0.3s;
                letter-spacing: 1px;
        }
        button:hover {
                background: silver;
                color: #333;
                cursor: pointer;
        }
}
